h1{
    text-align: center;
}

li.gallery {
    list-style-type: none;
    margin: 14px;
    border: 2px solid #ccc;
    float: left;
    width: 200px;
    text-align: center


  }
  
  li.gallery:hover {
    border: 1px solid #777;
  }
  
  li.gallery img {
    width: 100%;
    height: auto;
  }
  
  ul.desc {
    padding: 15px;
    text-align: left;
  }

  body{
      position: relative;
  }
  div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    background: lightblue;
    text-align: center;
    margin: 0 auto;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  color: black; /* White text color */
}

.rare1 {width: 10%; background-color: plum;}
.rare3 {width: 30%; background-color: lightseagreen;}
.rare4 {width: 40%; background-color: #4CAF50;} /* Green */
.rare5 {width: 50%; background-color: yellow}
.rare6 {width: 60%; background-color: lightsalmon;}